.register {
    top: 0;
    left: 0;
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    background: url('../../shared/images/register.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
}

.register__card {
    background-color: white;
    position: absolute;
    right: 0;
    bottom: 0;
    height: 875px;
    width: 678px;
    border-top-left-radius: 50px;
}

.register__card__header {
    margin-top: 50px;
    text-align: center;
}

.register__card__input-fields-container {
    margin-top: 65px;
}

.input-fields__input-container {
    margin-bottom: 40px;
}

.register__card__button-container {
    text-align: center;
}