.course-panel {
    background-color: white;
    height: 85%;
    width: 38%;
    position: absolute;
    bottom: 0;
    right: 0;
    border-top-left-radius: 50px;
    padding: 50px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;   
}

.course-panel__course-title-container {
    margin-bottom: 20px;
}

.course-panel__course-description-container {
    
}

.course-lesson-container {
    margin-top: 90px;
}