.home__header__image {
    height: 850px;
    width: 100%;
    position: relative;
}

.home__header__content {
    position: absolute;
    top: 100px;
    right: 300px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

.home__body__title {
    text-align: center;
}

.home__action__title {
    text-align: center;
}



