.video {
    background-color: black;
    height: 298px;
    width: 487px;
    border-radius: 50px;
    object-fit: fill;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    z-index: 1;
}