.home__header__image {
    height: auto;
    width: 100%;
    position: relative;
}

.home__header__content {
    position: absolute;
    top: 100px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(100px, auto);
}

.header__content__text {
    justify-self: center;
    margin-left: 178px;
}

.header__content__video {
    justify-self: start;
}

.home__body__title {
    text-align: center;
}

.home__action__title {
    text-align: center;
}

.home__body__feature-container {
    height: 800px;
    position: relative;
}

.home__body__image {
    height: auto;
    width: 100%;
    position: relative;
}

.home__body__card-container {
    position: absolute;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 40px;
    grid-gap: 94px;
    top: 200px;
    left: 15%;
    margin-left: -50px;
}

.home__body__card-1 {
    height: 400px;
    width: 350px;
    background-color: white;
    border-radius: 5px;
    grid-row-start: 3;
    grid-column-start: 1;
}

.home__body__card-2 {
    height: 400px;
    width: 350px;
    background-color: white;
    border-radius: 5px;
    grid-row-start: 2;
    grid-column-start: 2;
}

.home__body__card-3 {
    height: 400px;
    width: 350px;
    background-color: white;
    border-radius: 5px;
    grid-row-start: 1;
    grid-column-start: 3;
}

.home__body__footnote-container {
    background-color: black;
    height: 1500px;
}