.curriculum {
    background-color: #4B37FF;
    height: 100vh;
    width: 100%;
    position: fixed;
}

.animation-position {
    position: absolute;
    left: 50%;
    margin-left: -50px;
    top: 50%;
    margin-top: -50px;
}

.animation-position__circle {
    background-color: #4B37FF;
    height: 100px;
    width: 100px;
    border-radius: 50%;
}