.login {
    top: 0;
    left: 0;
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    background: url('../../../shared/images/login.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
}

.login__card {
    background-color: white;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 875px;
    width: 678px;
    border-top-right-radius: 50px;
    text-align: center;
}

.login__card__header {
    margin-top: 50px;
    text-align: center;
}

.login__card__input-fields-container {
    margin-top: 65px;
}

.input-fields__input-container {
    margin-bottom: 50px;
}

.login__card__button-container {
    text-align: center;
}

.login__card-alternate-text-container {
    margin-top: 20px;
    text-align: center;
}
